FLASK_APP=nutri
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
FLASK_ENV=development
FLASK_DEBUG=True
# Generate with: python -c "import secrets; print(secrets.token_hex())"
SECRET_KEY=
SQLALCHEMY_DATABASE_URI=sqlite:///project.db