{% set totals = dish.nutrition() %}
<table class="table table-striped table-hover sortable" style="margin-bottom: 0">
    <thead>
        <tr>
        <th>Name</th>
        <th>Serving Description</th>
        <th># of Servings</th>
        {% for key in dish.static_nutrition_keys() %}
            <th>{{dish.static_nutrition_label(key)}}</th>
        {% endfor %}
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in dish.ingredients %}
        {% set ing_nutrition = ingredient.nutrition() %}
        <tr>
            <td>
                <a href="{{ingredient.food_url}}">
                    {{ingredient.food_name}}
                </a>
            </td>
            <td>{{ingredient.serving_description}}</td>
            <td>{{ingredient.quantity}}</td>
            {% for key in dish.static_nutrition_keys() %}
                <td>{{ing_nutrition[key] | round | int }}</td>
            {% endfor %}
            <td>{% include 'forms/ingredient-delete.html' %}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            {% for key in dish.static_nutrition_keys() %}
                <td><strong>{{totals[key] | round | int }}</strong></td>
            {% endfor %}
            <td></td>
        </tr>
    </tfoot>
</table>
