<table class="table table-striped">
    <thead>
        <tr>
        <th>title</th>
        <th>description</th>
        </tr>
    </thead>
    <tbody>
        {% for dish in dishes %}
        <tr>
            <td>
                <a href="{{ url_for('dish', id=dish.id) }}">{{ dish.title }}</a>
            </td>
            <td>{{ dish.description }}</td>
            <td>
                {% include 'forms/dish-delete.html' %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>