{% extends 'base.html' %}

{% block title %}
{{dish.title}}
{% endblock %}

{% block header %}
<h1>{{dish.title}}</h1>
{% include 'forms/dish-delete.html' %}
{% endblock %}

{% block content %}

<p>
    {{dish.description}}
</p>

{% include 'tables/table-of-ingredients.html' %}





<form class="navbar-form navbar-left" action="{{ url_for('search_ingredients', id=dish.id)}}" method="post">
        <div class="form-group">
            <input class="form-control" type="text" id="search_expression" name="search_expression" placeholder="search for ingredients to add" required>
        </div>
        <button type="submit" class="btn btn-default">search</button>
    </form>

{% endblock %}

