{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1>{{ food.name }} ({{ food.brand }})</h1>
{% endblock %}

{% block content %}
Serving Size Options:
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            {% for key in food.static_nutrition_info().keys() %}
            <th>{{ food.static_nutrition_label(key) }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for serving in food.servings %}
        <tr>
            <td>{{ serving.id }}</td>
            <td>{{ serving.description }}</td>
            {% for key in food.static_nutrition_info().keys() %}
            <td>{{ serving.nutrition_info[key] }}</td>
            {% endfor %}
            <td>
                {% include 'forms/add-serving.html' %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}